In [1]:
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

#### NASA News Webiste

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

#### Mars Space Images

In [5]:
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

images_html = browser.html
soup = BeautifulSoup(images_html, 'html.parser')

In [8]:
image = soup.find('a', class_="button fancybox")
image_url = image['data-fancybox-href']
#print(image_url)

main_url = 'https://www.jpl.nasa.gov'
featured_image_url = main_url + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA11591_ip.jpg

#### Mars Weather

In [12]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

weather_html = browser.html
soup = BeautifulSoup(weather_html, 'html.parser')

In [33]:
weather_tweet = soup.find('div', class_='js-tweet-text-container').text
print(weather_tweet)

InSight sol 311 (2019-10-11) low -100.8ºC (-149.4ºF) high -26.4ºC (-15.4ºF)
winds from the SSW at 4.8 m/s (10.6 mph) gusting to 19.1 m/s (42.6 mph)
pressure at 7.20 hPapic.twitter.com/z5WeBicIrF

#### Mars Facts

In [44]:
mars_facts_url = 'https://space-facts.com/mars/'
mars_table = pd.read_html(mars_facts_url)
mars_df = mars_table[0]
mars_df = mars_df[['Mars - Earth Comparison','Mars']]
mars_df = mars_df.rename(columns = {'Mars - Earth Comparison': 'Paramter'})
mars_df

             Paramter             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C